/* general container element to constrain content width on wider screens */
body{
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 100;
    margin: 0;
}
p{
    line-height: 1.43;
    margin-top: 0;
    margin-bottom: inherit;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
.banner{
    background: linear-gradient(180deg,#391D18,#814236);
    color: #dfdfdf;
}
.links{
    list-style: none;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    padding-left: 1%;
}
li{
    float: left;
    padding-left: 1%;
    padding-top: 2%;
    padding-right: 2%
}
li a{
    text-decoration: none;
    color: #dfdfdf;
}
li:last-child{
    float: right;
    padding-right: 2%;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.container h1{
    padding-top: 3%;
    padding-bottom: 1%
}

@media (min-width: 768px) {
    .container { width: 750px; } 
}
@media (min-width: 992px) {
    .container { width: 970px; } 
}
@media (min-width: 1200px) {
    .container { width: 1170px; } 
}


/* Your CSS rules go here */
