/* general container element to constrain content width on wider screens */
body{
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 100;
    margin: 0;
}
p{
    line-height: 1.43;
    margin-top: 0;
    margin-bottom: inherit;
}
.wrapper{
    overflow: auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
  overflow: hidden;
}
.banner{
    background: linear-gradient(180deg,#391D18,#814236);
    color: #dfdfdf;
}
.links{
    list-style: none;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    padding-left: 1%;
    position: sticky;
    z-index: 2;
    top: 1px;
}
.sticky + .container{
    padding-top: 10px;
}
li{
    float: left;
    padding-left: 1%;
    padding-top: 2%;
    padding-right: 2%;
}
li a{
    text-decoration: none;
    color: #dfdfdf;
}
li:last-child{
    float: right;
    padding-right: 2%;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.back{
    background: #391D18;
    width: 100%;
    padding-bottom: 10px;
}

.container h1{
    padding-top: 3%;
    padding-bottom: 1%
}
.big-h{
    display: none;
}
.container p{
    padding-bottom: 15px;
}
.features{
    text-align: center;
}
.features > p{
    font-variant: small-caps;
}

.section{
    background: #F8F8F8;
    position: relative;
    overflow: auto;
}
.card{
    background: white;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: inherit;
    border: 1px solid #dfdfdf;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
svg{
    height: 40px;
}
.svg{
    padding-top: 10px;
    padding-left: 10px;
}
.col2 > h1{
    font-size: 18px;
    font-weight: 300;
     padding: 0;
}
.col2{
    flex: 2;
    text-align: justify;
    margin-left: 10px;
    padding-top: 10px;
}
.col2 > span{
    font-size: 16px;
    font-weight: 100;
}
@media (min-width: 768px) {
    .container { 
        width: 750px;
        padding-bottom: 5%;
        }
    .banner{
        background-image: url("C:/Users/jpnts/Desktop/info-343/challenges-1/pencil/img/pencil-header-sm.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .links{
        display: none;
    }
    .container h1{
        padding-top: 10%;
        font-size: 4em;
        color: black;
        padding-left: 70px;
    }
    .container p{
        max-width: 50%;
        color: black;
        padding-left: 70px;
    }
    .big-h{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 70px;
        margin-top: 20px;
        width: 150px;
        background: #814236;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #391d18;
    }
    .big-h:hover{
        background: #5d3027;
        cursor: pointer;
    }
}
@media (min-width: 992px) {
    .container { width: 970px; } 
    .banner{
        background-image: url("C:/Users/jpnts/Desktop/info-343/challenges-1/pencil/img/pencil-header-md.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .links{
        display: none;
    }
    .container h1{
        padding-top: 10%;
        font-size: 4em;
        color: black;
        padding-left: 70px;
    }
    .container p{
        max-width: 50%;
        color: black;
        padding-left: 70px;
    }
    .big-h{
        display: block;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-left: 70px;
        margin-top: 2%;
        width: 150px;
        background: #814236;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #391d18;
    }
    .big-h:hover{
        background: #5d3027;
        cursor: pointer;
    }
}
@media (min-width: 1200px) {
    .container { width: 1170px; } 
    .banner{
         background-image: url("C:/Users/jpnts/Desktop/info-343/challenges-1/pencil/img/pencil-header-lg.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}


/* Your CSS rules go here */
